<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PostgresSQLConnectionString" connectionString="Host=localhost;Username=postgres;Password=postgres;Database=tourplanner;Pooling=false"/>
  </connectionStrings>
  <appSettings>
    <add key="ImageFolder" value="D:\Documents\_Mein Stuff\ProgrammingStuff\FH_SS2021\SWEI\WPFApp2\WPFApp2\img\maps\"/>
    <add key="MapQuestAPIKey" value="RtfQrP95xMphxahgFEmU8ZQkHBQfC4eu"></add>
  </appSettings>
</configuration>